/* MASTER CSS FILE */

body{
  font-family: "Helvetica Neue", Helvetica, sans-serif;

}

/* HEADER */

header div{
  width: 100vw;
  height: 44px;

background-color: #333
}

header ul{
  width: 1000px;
  height: 100%;

  margin: 0 auto;

  /* background-color: #666; */
}
header ul li{
  width: 10%;
  height: 100%;

 font-size: .85em;
 font-weight: 300;
 letter-spacing: .08em;
 text-align: center;
 line-height: 44px;
 color: #FFF;

 float: left;
 display: inline-block;

 cursor: pointer;
 user-select: none;
 transition: 0.2s;

}

    header ul li:hover{
      color: #878787;
      transition: 0.2s;
}
/* Apple Logo */
header ul li:first-child{
  font-size: 1.45em;
}

/* Search Icon */
header ul li:nth-child(9){
  background:url('https://www.apple.com/ac/globalnav/4/en_US/images/globalnav/search/image_large.svg');
  background-repeat: no-repeat;
  background-position: center;
}

/* Shopping bag Icon */
header ul li:last-child{
  background:url('https://www.apple.com/ac/globalnav/4/en_US/images/globalnav/bag/image_large.svg');
  background-repeat: no-repeat;
  background-position: center;
}

/* Education Title */

.wrapper{
  height:1720px;
  width:100%;
  background:url(' https://www.apple.com/v/education/home/a/images/overview/hero_small_2x.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

/* Navigation Bar */

nav div{
  width: 100vw;
  height: 44px;

}

nav ul{
  width: 1000px;
  height: 100%;

  margin: 0 auto;

}

nav ul li{
  width: 10%;
  height: 100%;

 font-size: .59em;
 font-weight: 300;
 letter-spacing: .08em;
 text-align:center;
 line-height: 44px;
 color: #FFF;

 float: left;
 display: inline-block;

 cursor: pointer;
 user-select: none;
 transition: 0.2s;

}

      nav ul li:hover{
      color: #878787;
      transition: 0.2s;
    }

    nav ul li:first-child{
      font-size: 1.35em;
      font-weight:500;
    }

    nav ul li:nth-child(2){
        visibility: hidden;
      }

      nav ul li:nth-child(3){
        visibility: hidden;
      }

      nav ul li:nth-child(4){
        visibility: hidden;
      }

hr{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 140px;
  margin-right: 140px;
  border-style: inset;
  border-width: 1px;
}

/* Ignite the Creativity */

#ig{
font-size: 60px;
font-weight: 500;
margin-top: 1.5em;
margin-bottom: .65em;
line-height: 65px;
text-align: center;
color: #FFF;
}

/* First Paragraph */

#ev{
  font-size: 19px;
  font-weight: 350;
  letter-spacing: .230px;
  text-align: center;
  margin-left: 275px;
  margin-right: 275px;
  line-height: 27px;
  color: #FFF;
}

/* Keynote link */

#hero{
  font-size: 1.20em;
  text-align: center;
  margin-top: 1em;
  color: #0070c9;
}

main{
  background-color: white;
  height: auto;
  width: 100vw;
}


#productsForLearning{
  width: 97vw;
  height: 645px;
  margin: 20px auto;
}

#productsForLearningImage{
  width: 600px;
  float: left;
  height: 645px;
  background: url('../media/technology_small_2x.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#productsForLearningText{
  width: 50%;
  float: right;
  height: 100%;
  background-color: white;
}

/* Products for Learning */

#pl{
  font-size: 21px;
  font-weight: 400;
  letter-spacing: .228px;
  line-height: 23px;
  margin-top: 110px;
  margin-left: 85px;
  color: #555;
}

/* Technology designed heading */

#te{
  font-size: 40px;
  font-weight: 500;
  text-align: left;
  line-height: 44px;
  margin-left: 85px;
  margin-top: 12px;
  color: #111;
  }

/* Tech paragraph */

 #tech{
   font-size: 17px;
   font-weight: 400em;
   text-align: left;
   line-height: 25px;
   margin-left: 85px;
   margin-right: 85px;
   margin-top: 25px;
   color: #555;
  }

  #sm{
      font-size: 17px;
      text-align: left;
      margin: 0px;
      margin-top: 12px;
      margin-left: 85px;
    }
  #sm a{
      width: 100%;
    }

#toolsForTeaching{
  width: 97vw;
  height: 645px;
  margin: 20px auto;
}

#toolsForTeachingText{
  width: 50%;
  float: left;
  height: 100%;
  background-color: white;
}

#toolsForTeachingImage{
  width: 600px;
  float: right;
  height: 645px;
  background: url('https://www.apple.com/v/education/home/a/images/overview/apps_large_2x.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#tt{
  font-size: 21px;
  font-weight: 400;
  letter-spacing: .228px;
  line-height: 23px;
  margin-top: 110px;
  margin-left: 85px;
  margin-right: 85px;
  color: #555;
}

#apps{
  font-size: 40px;
  font-weight: 500;
  text-align: left;
  line-height: 44px;
  margin-left: 85px;
  margin-right: 85px;
  margin-top: 12px;
  color: #111;
}

#tools{
  font-size: 17px;
  font-weight: 400em;
  text-align: left;
  line-height: 25px;
  margin-right: 85px;
  margin-left: 85px;
  margin-top: 25px;
  color: #555;
}

#lea{
  font-size: 17px;
  text-align: left;
  margin: 0px;
  margin-top: 12px;
  margin-left: 85px;
}

#everyoneCanCreate{
  width: 97vw;
  height: 645px;
  margin: 20px auto;
}

#everyoneCanCreateImage{
  width: 600px;
  float: left;
  height: 645px;
  background: url('https://www.apple.com/v/education/home/a/images/overview/activities_large_2x.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#everyoneCanCreateText{
  width: 50%;
  float: right;
  height: 100%;
  background-color: white;
}

#ec{
  font-size: 21px;
  font-weight: 400;
  letter-spacing: .228px;
  line-height: 23px;
  margin-top: 85px;
  margin-left: 85px;
  color: #555;
}

#curriculum{
  font-size: 40px;
  font-weight: 500;
  text-align: left;
  line-height: 44px;
  margin-left: 85px;
  margin-top: 12px;
  color: #111;
}

#subject{
  font-size: 17px;
  font-weight: 400em;
  text-align: left;
  line-height: 25px;
  margin-left: 85px;
  margin-right: 85px;
  margin-top: 25px;
  color: #555;
}

#cre{
  font-size: 17px;
  text-align: left;
  margin: 0px;
  margin-top: 12px;
  margin-left: 85px;
}

#teachingCode{
  width: 97vw;
  height: 645px;
  margin: 20px auto;
}

#teachingCodeImage{
  width: 600px;
  float: right;
  height: 645px;
  background: url('https://www.apple.com/v/education/home/a/images/overview/lessons_large_2x.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#teachingCodeText{
  width: 50%;
  float: left;
  height: 100%;
  background-color: white;
}

#tc{
  font-size: 21px;
  font-weight: 400;
  letter-spacing: .228px;
  line-height: 23px;
  margin-top: 110px;
  margin-left: 85px;
  margin-right: 85px;
  color: #555;
}

#immersive{
  font-size: 40px;
  font-weight: 500;
  text-align: left;
  line-height: 44px;
  margin-left: 85px;
  margin-right: 85px;
  margin-top: 12px;
  color: #111;
}

#coding{
  font-size: 17px;
  font-weight: 400em;
  text-align: left;
  line-height: 25px;
  margin-left: 85px;
  margin-right: 85px;
  margin-top: 25px;
  color: #555;
}

#co{
  font-size: 17px;
  text-align: left;
  margin: 0px;
  margin-top: 12px;
  margin-left: 85px;
  margin-right: 85px;
}

#teachersIt{
  width: 97vw;
  height: 645px;
  margin: 20px auto;
}

#moreForTeachers{
  width: 50%;
  float: left;
  height: 100%;
  background-color: white;
}

#td{
  font-size: 21px;
  font-weight: 400;
  letter-spacing: .228px;
  line-height: 23px;
  margin-top: 110px;
  margin-left: 85px;
  margin-right: 85px;
  color: #555;
}

#insp{
  font-size: 40px;
  font-weight: 500;
  text-align: left;
  line-height: 44px;
  margin-left: 85px;
  margin-top: 85px;
  margin-top: 12px;
  color: #111;
}

#core{
  font-size: 17px;
  font-weight: 400em;
  text-align: left;
  line-height: 25px;
  margin-left: 85px;
  margin-right: 85px;
  margin-top: 25px;
  color: #555;
}

#data{
  font-size: 17px;
  text-align: left;
  margin: 0px;
  margin-top: 12px;
  margin-left: 85px;
  margin-right: 85px;
}

#itAndDeployment{
  width: 50%;
  float: right;
  height: 100%;
  background-color: white;
}

#itd{
  font-size: 21px;
  font-weight: 400;
  letter-spacing: .228px;
  line-height: 23px;
  margin-top: 110px;
  margin-left: 85px;
  margin-right: 85px;
  color: #555;
}

#apple{
  font-size: 40px;
  font-weight: 500;
  text-align: left;
  line-height: 44px;
  margin-left: 85px;
  margin-right: 85px;
  margin-top: 12px;
  color: #111;
}

#aspect{
  font-size: 17px;
  font-weight: 400em;
  text-align: left;
  line-height: 25px;
  margin-left: 85px;
  margin-right: 85px;
  margin-top: 25px;
  color:#555;
}

#deploy{
  font-size: 17px;
  text-align: left;
  margin: 0px;
  margin-top: 12px;
  margin-left: 85px;
  margin-right: 85px;
}
